<div class="grid-container">
  <div class="item1">
    <app-navbar></app-navbar>
  </div>
  <div class="item2" *ngIf="false">
    <app-menu></app-menu>
  </div>
  <div class="item3">
    <app-mark-list></app-mark-list>
  </div>   
  <div class="item4">
    <app-mark-top-list></app-mark-top-list>
  </div>
  <div class="item5">
    <app-exam-top></app-exam-top>
  </div>   
  <div class="item6">
    <app-mark-top-list></app-mark-top-list>
  </div>
  <div class="item7">
    <app-footer></app-footer>
  </div>
</div>